extends: default

rules:
  document-start:
    # This rule is now satisfied by explicit_start in PyYAML.
    level: warning
  line-length:
    max: 140  # Increase from 80 to 140 characters; adjust as desired
